.home_button {
    background-color: #c0c0c0;
    color: #D2691E;
    padding: 0.9em;
    text-decoration: none;
    transition: 0.5s;
}

.home_button_container {
    background-color: #c0c0c0;
    width: 400px;
    height: 60px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #D2691E;
    display: flex;
    justify-content: space-around;
}