.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #555;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: space-between;
    color: #DAA250;
    align-items: center;
    justify-content: center;
}

.item {
    margin-right: 1em;
    list-style: none;
}

.item a {
    color: #DAA250;
    text-decoration: none;
    font-weight: bold;
    font-family: Open Sans;
    font-size: 0.8 em;
}

.item a:hover {
    color: #FFFFFF;
}

.logo {
    font-size: 5em;
    color: #D2691E;
}