* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: #efefef;
    height: 100%;
}

.table {
    margin: 0 auto;
}

.table tr {
    border: 1px solid #333;
}