.btn {
    background-color: #333222;
    color: #fff;
    padding: 0.5em 0.4em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    width: 120px;
}

.btn:hover {
    color: #ffbb33;
    background-color: #000fff;
}